.side-list {
    justify-content: center;
}

.twitch .twitch-video {
    padding-top: 56.25%;
    position: relative;
    height: 0;
}

.twitch .twitch-video iframe {
    position: absolute;
    width: 50%;
    height: 50%;
    top: 0;
}

.twitch .twitch-chat {
    height: 400px;
}

.twitch .twitch-chat iframe {
    width: 50%;
    height: 50%;
}